@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.fa-youtube {
    color: #ffffff;
    font-size: 16px;
}

.top-wrapper {
  padding: 180px 0 330px 0;
  background-image: url(top.jpg);
  background-size: cover;
  background-position: center top;
  color: white;
  text-align: center;
  position: relative;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 54px;
  letter-spacing: 0px;
}

.top-wrapper h2 {
  opacity: 0.9;
  font-size: 27px;
  letter-spacing: 0px;
}

.top-wrapper p {
  opacity: 0.9;
  font-size: 20px;
  margin-bottom: 0px;
}

.btn-wrapper {
  text-align: center;
  justify-content: center;
  float: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.signup {
  background-color: #239b76;
}

.twitter {
  background-color: #DA1725;
}

.youtube {
  background-color: #000000;
}

.btn {
  padding: 6px 22px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 10px;
  text-align: right;
}

.btn:hover {
  opacity: 1;
}  

.logo {
  width: 55px;
  margin-top: 3px;
}

.picture {
  width: 48%;
  margin-bottom: 25px;
  margin-right: 2%;
  float: left;
}

.picture2 {
  width: 55%;
  margin-bottom: 25px;
  margin-right: 2%;
  float: left;
  display: inline-block;
}

.picture-right {
  width: 48%;
  margin-bottom: 25px;
  float: left;
}

.picture-right2 {
  width: 60%;
  float: left;
}

header {
  height: 60px;
  width: 100%;
  background-color: rgba(255,115,115,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left a {
  line-height: 60px;
  padding-left: 12px;
  font-size: 27px;
  color: white;
  float: left;
  transition: all 0.5s;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 60px;
  padding: 0 25px;
  font-size: 16px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.2);
}

.heading {
  padding-top: 70px;
  padding-bottom: 10px;
  color: #323232;
}

.heading-border {
   font-size: 20px;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 8px;
   padding-right: 8px;
   border: 2px solid #ff7373;
}

.heading h2 {
  font-weight: normal;
}

.heading h3 {
  text-align: left;
}

.lesson-wrapper {
  height: 1300px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  text-align: center;
}

.picture-background {
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 37%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #323232;
}

.message-wrapper {
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 5px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

#download-section {
  text-align: left;
}

#download-section h1 {
  text-align: left;
  font-size: 32px
}

#download-section h2 {
  text-align: left;
  font-size: 32px;
  border-bottom: solid 2px #ff7373;
  padding-top: 0px;
  padding-bottom: 10px;
}

#download-section p {
  text-align: left;
  font-size: 16px;
}

#download-section a {
  text-align: left;
  font-size: 22px;
  color: #323232;
}

#download-section2 {
  text-align: left;
}

#download-section2 h2 {
  text-align: left;
  font-size: 32px;
  border-bottom: solid 2px #ff7373;
  padding-top: 0px;
  padding-bottom: 10px;
}

#download-section2 p {
  width: 55%;
  margin-bottom: 25px;
  margin-right: 2%;
  float: left;
  display: inline-block;
}

.border {
  border-bottom: 2px solid #ff7373;
  padding-bottom: 100px;
  text-align: center;
}

.kiji-border {
   padding-left: 12px;
   border-left: 4px solid #ff7373;
}

footer img {
  width: 125px;
}

footer p {
  color: #6d6b6e;
  font-size: 16px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 26px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: both;
}

@media all and (max-width: 800px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 990px;
  }

  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .header-right {
    display: none;
  }

  .heading h2 {
    font-size: 20px;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .top-wrapper .btn {
    width: 100%;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  #download-section h1 {
    text-align: left;
    font-size: 24px
  }

  #download-section h2 {
    text-align: left;
    font-size: 32px
  }

  #download-section2 h1 {
    text-align: left;
    font-size: 18px
  }

  .lesson {
    width: 100%;
  }

  .lesson-wrapper {
    height: 1400px;
  }
  
  .picture {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .picture-right {
    width: 100%;
    float: none;
  }
}
