@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.content-wrapper {
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.content-wrapper img {
  margin-right: 35px;
}

.text-content {
  flex: 1;
  font-size: 16px;
  width: 48%;
}

.fa-youtube {
    color: #ffffff;
    font-size: 16px;
}

.top-wrapper {
  padding: 180px 0 330px 0;
  background-image: url(top.jpg);
  background-size: cover;
  background-position: center top;
  color: white;
  text-align: center;
  position: relative;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 54px;
  letter-spacing: 0px;
}

.top-wrapper h2 {
  opacity: 0.9;
  font-size: 27px;
  letter-spacing: 0px;
}

.top-wrapper p {
  opacity: 0.9;
  font-size: 20px;
  margin-bottom: 0px;
}

.btn-wrapper {
  text-align: center;
  justify-content: center;
  float: center;
}

.btn-wrapper2 {
  text-align: right;
  justify-content: right;
  float: right;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.twitter {
  background-color: #DA1725;
}

.youtube {
  background-color: #000000;
}

.site {
  background-color: #ff7373;
  font-size: 14px;
}

miru {
  font-size: 14px;
}

.btn {
  padding: 6px 22px 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 13px;
  text-align: right;
}

.btn2 {
  margin-top: 18px;
  padding-left: 30px;
  padding-bottom: 8px;
  color: black;
  display: inline-block;
  border-bottom: 1px solid #ff7373;
  text-align: right;
}

.btn:hover {
  opacity: 1;
}

.btn2:hover {
  border-bottom: 2px solid #ff7373;
}   

.logo {
  width: 55px;
  margin-top: 3px;
}

.logox {
  width: 12px;
}

.picture {
  width: 48%;
  margin-bottom: 25px;
  margin-right: 2%;
  float: left;
}

.pictureg {
  width: 48%;
  margin-bottom: 25px;
  margin-right: 2%;
  float: left;
}

.picture-right {
  width: 48%;
  margin-bottom: 25px;
  float: left;
}

header {
  height: 60px;
  width: 100%;
  background-color: rgba(255,115,115,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left a {
  line-height: 60px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 27px;
  font-family: "Barlow";
  color: white;
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 60px;
  padding: 0 25px;
  font-size: 16px;
  color: white;
  display: block;
  float: left;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.2);
}

.heading {
  font-weight: normal;
  font-size: 16px;
  padding-top: 70px;
  padding-bottom: 10px;
  color: #323232;
}

.heading-border {
  font-size: 20px;
  padding: 8px;
  border: 2px solid #ff7373;
}

.heading-border2 {
  font-size: 20px;
  line-height: 45px;
  padding: 20px;
}

.heading h1 {
  font-weight: normal;
  font-size: 32px;
  text-align: left;
}

.heading h2 {
  font-weight: normal;
  font-size: 20px;
  text-align: left;
}

.heading h3 {
  font-weight: normal;
  text-align: left;
}

.lesson-wrapper {
  height: 1300px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ffffff;
  text-align: center;
}

.picture-background {
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.text-contents {
  width: 80%;
  display: inline-block;
  font-size: 13px;
  margin-top: 15px;
  color: #323232;
}

.message-wrapper {
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 80px;
  text-align: center;
}

#download-section {
  text-align: left;
}

#download-section h1 {
  text-align: left;
  font-size: 32px
}

#download-section h2 {
  text-align: left;
  font-size: 32px;
  border-bottom: solid 2px #ff7373;
  padding-bottom: 10px;
}

#download-section h3 {
  text-align: left;
  font-size: 20px;
  color: #323232;
}

#download-section h4 {
  line-height: 2;
  text-align: left;
  font-size: 4px;
}

#download-section h5 {
  line-height: 2;
  text-align: left;
  font-size: 20px;
}

#download-section a {
  text-align: left;
  font-size: 20px;
  color: #323232;
}

#download-section a:hover {
    color: #ff7373;
    border-bottom: 1px solid #ff7373;
}

#download-section p {
  line-height: 2;
  text-align: left;
  font-size: 16px;
}

.kiji-border {
   display: block;
   position: relative;
   padding-left: 12px;
   border-left: 4px solid #ff7373;
}

.kiji-border h3 {
   font-size: 20px;
}
  
.kiji-border a {
   font-size: 24px;
}

.kiji-border2 p {
  font-size: 16px;
  padding-top: 22px;
  border-top: 0.5px solid #9e9d9d;
}

.kiji-border2 a:hover {
    color: #ff7373;
    border-bottom: 1px solid #ff7373;
}

.drawer-hidden {
   display: none;
}

.drawer-open {
   display: none;
}

.drawer-content {
   display: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #6d6b6e;
  font-size: 16px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.clear {
  clear: both;
}

@media (max-width: 1200px) {
  .heading h1 {
    font-size: 32px;
    font-weight: normal;
    text-align: left;
  }

  .heading h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
  }

  .heading-border {
    font-size: 20px;
    padding: 8px;
    border: 2px solid #ff7373;
  }

  .top-wrapper h1 {
    opacity: 0.9;
    font-size: 54px;
    letter-spacing: 0px;
  }

  .top-wrapper h2 {
    opacity: 0.9;
    font-size: 27px;
    letter-spacing: 0px;
  }

  .top-wrapper p {
    opacity: 0.9;
    font-size: 20px;
    margin-bottom: 0px;
  }

  #download-section h1 {
    text-align: left;
    font-size: 32px
  }

  #download-section h2 {
    text-align: left;
    font-size: 32px;
    border-bottom: solid 2px #ff7373;
    padding-bottom: 10px;
  }

  #download-section h3 {
    text-align: left;
    font-size: 30px;
    color: #323232;
  }

  #download-section p {
    line-height: 2;
    text-align: left;
    font-size: 16px;
  } 

  #download-section a {
    text-align: left;
    font-size: 20px;
    color: #323232;
  }

  .kiji-border h3 {
     font-size: 20px;
  }
  
  .kiji-border a {
     font-size: 22px;
  }

  .pictureg {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .content-wrapper {
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .content-wrapper img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .text-content {
    font-size: 14px;
    width: 100%;
  }
}

@media all and (max-width: 770px) {
  .drawer-open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    z-index: 100;
    cursor: pointer;
  }

  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #FFFFFF;
    transition: 0.5s;
    position: absolute;
  }

  .drawer-open span:before {
    bottom: 8px;
  }

  .drawer-open span:after {
    top: 8px;
  }

  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }

  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  
  .drawer-content {
    display: block;
    width: 100%;
    height: 155px;
    position: fixed;
    top: 60px;
    right: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background-color: rgba(255,115,115,0.9);
    transition: .5s;
  }

  .drawer-item a {
    font-size: 16px;
    color: white;
    display: block;
    padding-top: 15px; /* 項目の周りに余白を追加 */
    padding-bottom: 15px; /* 項目の周りに余白を追加 */
    margin-right: 15px; /* 項目の周りに余白を追加 */
    margin-left: 15px;
    border-top: 0.5px solid white;
  }

  .drawer-item2 a {
    font-size: 16px;
    color: white;
    display: block;
    padding: 15px; /* 項目の周りに余白を追加 */
  }

  .drawer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #drawer-check:checked ~ .drawer-content {
    right: 0; /* メニューを画面に入れる */
  }

  .header-left a {
    line-height: 60px;
    padding-left: 10px;
    font-size: 22px;
    color: white;
    float: left;
  }
  
  .header-right {
    display: none;
  }

  .heading h1 {
    font-size: 26px;
    font-weight: normal;
    text-align: left;
  }

  .heading h2 {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
  }

  .heading-border {
    font-size: 18px;
    padding: 8px;
    border: 2px solid #ff7373;
  }

  .heading-border2 {
    font-size: 18px;
    line-height: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .top-wrapper .btn {
    width: 100%;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .top-wrapper h2 {
    font-size: 26px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  #download-section h1 {
    text-align: left;
    font-size: 26px
  }

  #download-section h2 {
    text-align: left;
    font-size: 26px;
    border-bottom: solid 2px #ff7373;
    padding-bottom: 10px;
  }

  #download-section h3 {
    text-align: left;
    font-size: 18px;
    color: #323232;
  }

  #download-section p {
    line-height: 2;
    text-align: left;
    font-size: 14px;
  } 

  #download-section a {
    text-align: left;
    font-size: 20px;
    color: #323232;
  }

  .kiji-border h3 {
     font-size: 20px;
  }
  
  .kiji-border a {
     font-size: 22px;
  }

  .lesson {
    width: 100%;
  }

  .lesson-wrapper {
    height: 1400px;
  }
  
  .picture {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .pictureg {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .picture-right {
    width: 100%;
    float: none;
  }

  .content-wrapper {
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .content-wrapper img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .text-content {
    font-size: 14px;
    width: 100%;
  }
  
  footer {
    text-align: center;
  }

  footer p {
    color: #6d6b6e;
    font-size: 14px;
  }
}
